<!-- coins table -->
<table class="table table-striped table-bordered table-hover border-dark">
  <thead class="thead-dark">
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">24hr High</th>
      <th scope="col">24hr Low</th>
      <th scope="col">Market Cap</th>
    </tr>
  </thead>
  <% i = 1 %>
  <% base = "https://cryptoicon-api.vercel.app/api/icon/" %>
  <tbody>
    <% @prices["DISPLAY"].each do |k, y| %>
    <% coin_img = base+k.downcase %>
    <tr>
      <td><%= i %></td>
      <td><img src="<%= coin_img %>" alt="<% k %>" width="30" height="30" class="me-3"><%= k %></td>
      <td><%= y["USD"]["PRICE"] %></td>
      <td><%= y["USD"]["HIGHDAY"] %></td>
      <td><%= y["USD"]["LOWDAY"] %></td>
      <td><%= y["USD"]["MKTCAP"] %></td>
    </tr>
    <% i += 1 %>
  <% end %>
  </tbody>
</table>
<br/><hr/><br/>

<!-- news cards here -->
<div class="container">
  <div class="row">
    <% @news["Data"].each do |n|  %>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <img src="<%= n["imageurl"]  %>" class="card-img-top" alt="<%= n["source"] %>">
            <div class="card-body">
              <h5 class="card-title"><%= n["body"] %></h5>
              <p class="card-text"><%= n["body"] %></p>
              <a href="<%= n["url"] %>" class="btn btn-secondary">Read more... </a>
            </div>
          </div>
        </div>
        <br/>
    <% end %>
  </div>
</div>



